<section class="background: linear-gradient(180deg, rgba(0,0,0,1) 7%, rgba(46,43,43,1) 29%, rgba(85,77,77,1) 40%, rgba(141,132,132,1) 54%, rgba(197,184,184,1) 66%, rgba(242,223,223,1) 78%, rgba(255,238,238,1) 94%);">
    <div>
        <h1>Dansestudiet</h1>
    </div>
</section>