<section>
    
    <div>
        <h3>25 top kompetente undervisere!</h3>
        <p>Vi har samlet et unikt underviserteam</p>
    </div>

    <div>
       <h3>Tjek ud vores danse portrætter!</h3>
        <img src="" alt="">
        <img src="" alt="">
        <img src="" alt="">
    </div>

</section>