<section>
    <div>
       <h4>Velkommen til Dansestudiet</h4>
       <p>Tilmeldning til efterårssæsonen 2023 er fortsat åben.</p>
       <p>Vi har mere end 50 danseklasser on ugen for alle aldre og niveauer!</p>
    </div>
</section>